<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>スコア入力</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="name-container">
    <h2>お疲れ様でした！</h2>
    <p class="score-text">あなたのスコアは {{ total }} 点満点中 {{ score }} 点です。</p>

    <form method="post">
      <label>名前を入力してください：
        <input type="text" name="name" required>
      </label>
      <br>
      <button type="submit" class="submit-button">結果を見る</button>
    </form>
  </div>
</body>
</html>
