!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        .center-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
    <title>Document</title>
</head>

<body style="background-color: lightblue;">
    <h1 style="background: #fff;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    font-size: 30px; 
    padding: 20px;
    text-align: center;">セキュリティでGO!<br>説明だよ！</h1>
    <div class="center-button">
    <button onclick="location.href='https://www.google.co.jp/'">スタート!</button>
    </div>
</body>