.test{
    background: #fff;
    border: 1px #ccc solid;
    box-shadow: 0 2px 3px 0 #ddd;
    font-size: 30px; 
    padding: 20px;
    text-align: center;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}